body {
    padding: 0 75px;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

.top-page {
    display: none;
    text-decoration: none;
    background: rgb(209, 107, 12);
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;

}

nav ul li a {
    font-size: 20px;
    background: rgb(209, 107, 12);
    border: 2px solid rgb(209, 107, 12);
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background: rgb(250, 135, 28);
}