a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: dodgerblue;
}

a:hover {
    background-color: rgb(69, 130, 190);
}

button {
    margin-top: 20px;
    display: block;
}